extends layout

block content
  .w3-container
    h1 Prémios Nobel
    ul.w3-ul
      li
        a(href="http://localhost:3000/prizes") Listar Prémios
      li
        a(href="http://localhost:3000/prizes/categorias") Categorias
      li
        a(href="http://localhost:3000/prizes/laureados") Laureados
      li
        a(href="http://localhost:3000/prizes/pesquisar") Pesquisar
  footer.w3-container
          address Gerado por Trabalho Prático 8 App