extends layout

block content
  .w3-container
    h1 Teste Dweb 2020
    table.w3-table-all
      tr
          th Sigla
          th Designação
          th Detalhes de uma entidade
      each a in lista
          tr
              td= a.sigla
              td= a.designacao
              td
                  a(href="/" + a.id) Detalhes
    footer.w3-container
          address Gerado por Teste Treino
                        