extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-blue-gray
                h3 Erro
            .w3-container
                p= e
            footer.w3-container.w3-blue-gray
                address Gerado por Gestão de Tarefas App