doctype html
html
    head
        title Gestão de Tarefas DAW
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/w3.css')
        style(type="text/css").
            .center {
                text-align: center
            }
            .bottom-one{
                        margin-bottom: 1cm
            }
            .bottom-space{
                        margin-bottom: 0.6cm
            }
    body
        block content